body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(image/soju.jpg);
}

h1 {
    color: #333;
}

#chance-area, #result-area {
    margin-bottom: 10px;
    font-size: 18px;
}

#user-input {
    padding: 8px;
    font-size: 16px;
}

#play-button, #reset-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#play-button:disabled, #reset-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

#play-button:hover, #reset-button:hover {
    background-color: #45a049;
}

#result-area {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


@media only screen and (max-width: 600px) {

    #play-button, #reset-button {
        padding: 8px 16px;
        font-size: 16px;
    }

    #user-input {
        padding: 6px;
        font-size: 14px;
    }

    #result-area {
        font-size: 18px;
    }
}